@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* light */
	@font-face {
		font-family: NespressoLucas;
		font-weight: 200;
		src: url(/src/public/fonts/NespressoLucas-Light.woff) format('woff');
	}
	/* med */
	@font-face {
		font-family: NespressoLucas;
		font-weight: 400;
		src: url(/src/public/fonts/NespressoLucas-Med.woff) format('woff');
	}
	/* bold */
	@font-face {
		font-family: NespressoLucas;
		font-weight: 700;
		src: url(/src/public/fonts/NespressoLucas-XtraBd.woff) format('woff');
	}

	body {
		@apply pb-[96px] pt-16 tracking-wider text-[#333333] antialiased md:pb-[48px];
	}

	p {
		@apply mb-4;
	}

	h1 {
		@apply mb-6 text-3xl font-bold uppercase leading-tight tracking-[12px] md:text-5xl lg:text-6xl;
	}

	h2 {
		@apply mb-4 text-2xl font-light uppercase leading-tight tracking-[6px] lg:text-3xl;
	}

	a {
		@apply text-nespresso-gold underline;
	}

	label {
		@apply mb-2 block text-sm font-bold text-gray-700;
	}

	input,
	textarea,
	select {
		@apply w-full rounded-md border border-gray-300 px-4 py-2 caret-nespresso-gold focus:border-transparent focus:outline-none focus:ring-2 focus:ring-nespresso-gold max-sm:focus:outline-nespresso-gold;
	}

	select,
	select {
		@apply relative cursor-pointer appearance-none;
	}
}
