@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* light */
	@font-face {
		font-family: NespressoLucas;
		font-weight: 200;
		src: url(/src/public/fonts/NespressoLucas-Light.woff) format('woff');
	}
	/* med */
	@font-face {
		font-family: NespressoLucas;
		font-weight: 400;
		src: url(/src/public/fonts/NespressoLucas-Med.woff) format('woff');
	}
	/* bold */
	@font-face {
		font-family: NespressoLucas;
		font-weight: 700;
		src: url(/src/public/fonts/NespressoLucas-XtraBd.woff) format('woff');
	}

	#app {
		@apply antialiased min-h-screen mt-16;
	}

	p {
		@apply mb-4;
	}

	h1 {
		@apply mb-6 text-5xl font-bold leading-tight tracking-[12px] lg:text-6xl;
	}

	h2 {
		@apply mb-6 text-2xl font-light leading-tight tracking-[8px] lg:text-3xl;
	}

	a {
		@apply text-nespresso-gold underline;
	}
}
